certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
Flask==1.1.1
idna==3.3
importlib-metadata==2.0.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
misaka==2.1.1
pycparser==2.21
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
urllib3==1.26.9
Werkzeug==2.0.3
zipp==3.6.0
